.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-center {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.App-intro {
  font-size: large;
}

.space {
  margin-right: 0.5em;
}

.input-arrondi {
  border-radius: 10px;
  width: 100%;
  height: 20px;
  border: solid 0.1px;
  padding: 15px;
}

.Connected-rotate {
  display: flex;
  justify-content: center;
  animation: rotatein 0.5s linear;
}

.Connected{
  display: flex;
  flex-direction: column;
}
.board {
  display: felx;
  justify-content: center;
}
.board div{
  width: 2em;
  height: 2em;
  border : solid 1px;
}

.boardFull{
  display: flex;
  flex-direction: row;
}
@keyframes rotatein {
  from {
    color: white;
    transform: rotate(180deg);
  }

  to {
    color: black;
    transform: rotate(360deg);
  }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
